/* Variables for easy customization */
.bookVariables {
  --book-width: 440px;
  --book-height: 600px;
  --book-thickness: 80px;
  --spine-width: 50px;
  --cover-radius: 10px;
  --rotate-angle: -30deg;
  --hover-rotate: 0deg;
  --transition-duration: 1s;
  --perspective: 400px;
  --background-color: #194aa4;
}

.bookContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: calc(var(--perspective) * 1px);
}

@keyframes initAnimation {
  0% {
    transform: rotateY(var(--hover-rotate));
  }
  100% {
    transform: rotateY(var(--rotate-angle));
  }
}

.book {
  width: var(--book-width);
  height: var(--book-height);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(var(--rotate-angle));
  transition: var(--transition-duration) ease;
  animation: var(--transition-duration) ease 0s 1 initAnimation;
}

.bookContainer:hover .book, 
.bookContainer:focus .book {
  transform: rotateY(var(--hover-rotate));
}

.book:hover,
.book:focus {
  transform: rotateY(var(--hover-rotate));
}

/* Book */
.bookCover {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--book-width);
  height: var(--book-height);
  transform: translateZ(calc(var(--book-thickness) / 2));
  background-color: var(--background-color);
  border-radius: var(--cover-radius);
  box-shadow: 5px 5px 20px #666;
  overflow: hidden;
}

/* Cover */
.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--cover-radius);
}

 /* Pages */
.book::before {
  position: absolute;
  content: '';
  left: 0;
  top: 1px;
  /* Where pages are located between the spine and the cover */
  /* ALSO How wide the pages are */
  /*T These are tied together, not sure how to seperate them atm*/
  width: calc(var(--book-thickness) - 70px / 2);
  /* How tall the pages are */
  height: calc(var(--book-height) - 2px);
  transform: translateX(calc(var(--book-width) - var(--spine-width) / 2 - 10px)) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

/* Back Cover */
.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: var(--book-width);
  height: var(--book-height);
  transform: translateZ(calc(-var(--book-thickness) / 2));
  background-color: var(--background-color);
  border-radius: var(--cover-radius);
  box-shadow: -10px 0 50px 10px #666;
}